body {	
	margin: 0;
	min-width: 960px;
	font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	color: #222222;
	background-color: #f2f4f6;
}

.conteiner {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 16px;
}

.header-page {
	padding: 20px 0;
	background-color: #3376A3;
	color: #ffffff;	
	text-align: right;
}

.header-page img {
	max-width: 3%;
}

.email {
	margin-left: 5px;
	color: white;
	text-decoration: none;
}

.greeting .conteiner {
	min-height: 250px;
	text-align: center;
	color: white;
	font-size: 30px;
	margin-bottom: 70px;
}

.greeting {
	background-image: linear-gradient(#273037, #2D383E);
	padding-top: 70px;
}

.heading {
	margin: 0 0 16px;
	text-shadow: 1px 1px 2px black;
	font-size: 88px;
	line-height: 96px;
	font-weight: 400;
}

.photo-me {
	max-width: 250px;
	float: left;
	margin-right: 30px;
}

.portfolio {
	clear: both;
	padding: 70px 0;
	text-align: center;
}

.slides {
    max-width: 700px;
    max-height: 600px;
	margin: 0 auto;
}
 
.btnLeftDE {
	min-width: 50px;
	border: none;
	float: left;
	padding-top: 220px;
}

.btnRightDE {
	min-width: 50px;
	border: none;
	float: right;
	padding-top: 220px;
}

.btnLeftDR {
	min-width: 50px;
	border: none;
	float: left;
	padding-top: 220px;
}

.btnRightDR {
	min-width: 50px;
	border: none;
	float: right;
	padding-top: 220px;
}

.sliderDesign {
    display: none;
}

.sliderDrawing {
    display: none;
}
 
.block {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer-page {
	padding: 20px 0;
	background-color: #3376A3;
	color: #ffffff;	
	text-align: right;
}

.footer-page img {
	max-width: 3%;
}

.footer-page p {
	float: left;
	margin-top: 0;
}

.footer-page a {
	margin-left: 5px;
	color: inherit;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
  }
  
  .footer-email {
	padding-left: 30px;
	background-image: url("img/icon-email.svg");
  }